body {
  background-color: #a5ffa5
}

.header {
  width: 820px;
  margin: auto;
  background-image: url("/images/main_background.png")
}

.status {
  display: inline;
  float: right;
}


#menu {
  width: 20%;
  float: left;
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li a
{
  background: #a5ffa5 center left no-repeat;
  padding-right: 10px;
  height: 2em;
  line-height: 2em;
  float: left;
  width: 11em;
  display: block;
  margin-bottom: 5px;
  margin-left: 5px;
  text-decoration: none;
  text-align: right;
}

.main-section {
  float: right;
  width: 625px;
  margin-bottom: 50px;
}

.footer {
  clear:both;
}

.content {
  font-family: Arial,Verdana,Tahoma,Helvetica,sans-serif;
	color: #039;
  text-decoration: none;
  text-align: center;
  width: 800px;
  min-height: 600px;
  margin: auto;
  background-color: #e2ffe3;
  padding: 10px;
}

/* Menu hightlighting */
body#cloud_accounts a#cloud_accounts_nav,
body#chef_accounts a#chef_accounts_nav,
body#images a#images_nav,
body#servers a#servers_nav {
	color: #fff;
	background: #00d300;
}

/*Table layouts */

table
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	margin-right: 45px;
	margin-left: 45px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}

thead .top-left
{
	background: #00d300 url('/images/left.png') left -1px no-repeat;
}

thead .top-right-dark
{
	background: #00d300 url('/images/right-dark.png') right -1px no-repeat;
  border-top: 0px;
}

thead .top-right-light
{
	background: #a5ffa5 url('/images/right-light.png') right -1px no-repeat;
  border-top: 0px;
}

th
{
	padding: 8px;
	font-weight: normal;
	font-size: 13px;
	color: #039;
	background: #00d300;
}

td
{
	padding: 8px;
	background: #a5ffa5;
	border-top: 1px solid #fff;
	color: #669;
}

tfoot .rounded-foot-left-light
{
	background: #a5ffa5 url('/images/botleft-light.png') left bottom no-repeat;
}

tfoot .rounded-foot-left-dark
{
	background: #00d300 url('/images/botleft-dark.png') left bottom no-repeat;
}

tfoot .rounded-foot-right
{
	background: #a5ffa5 url('/images/botright.png') right bottom no-repeat;
}

tbody tr:hover td
{
	background: #00f300;
}

.instance_id 
{
  min-width: 7em;
}
