<% if @cloud_accounts && !@cloud_accounts.empty? %>
  <script>
    $(document).ready(function() {
      <% @cloud_accounts.each do |account| %>
        $.get('<%= servers_path( :cloud_id => account.id ) %>', function(data) {
          $('#cloud_list_<%= account.id %>').html(data);
        });
      <% end %>
    })
  </script>
  <% @cloud_accounts.each do |account| %>
    <div id="cloud_list_<%= account.id %>" class="server_list">
      <table>
        <thead>
          <tr>
            <th>Downloading data for <%= account.label %>...</th>
          </tr>
        </thead>
      </table>
    </div>
  <% end %>
<% end %>
